#login
%p.welcome  Welcome, #{@current_user.login}!
= link_to 'Log Out', logout_path
%h2 To Do List
= link_to 'Create New Task', new_task_path
%table#tasks.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Course
      %th Due date
  %tbody
    - @tasks.each do |task|
      
      %tr
        %td= link_to task.name, edit_task_path(task)
        %td= task.course
        %td= task.due_date.to_formatted_s(:long_ordinal)
        %td= button_to 'Complete', task, :confirm => 'Are you sure?', :method => :delete


